{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}

<div class="row">
    <div class="col-md-8">

        {{ add_author }}
        <h2>Add Author</h2>

        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Full name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Author's full name">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Born at</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Date of birth">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Born in</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Place of birth">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="About an author: short bio or similar">
              </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </form>

    </div>
   
</div>

{% endblock %}